@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

body{
  width: 480px;
  height: 100px;
  flex-direction: column;
  align-items: center;
  --font-primary: "Montserrat", sans-serif;
  background-color: #34515e;
}

.EqSliderList{
display: flex;
flex-direction: row;
width: 360px;
height: 100px;
user-select: none;
padding-bottom: 5%;
}

.band{
/* -webkit-appearance: slider-vertical; */
height: 100px;
width: 21px;
border-radius: 3px;
}

#gainSlider{
padding-left: 10px;
padding-right: 10px;
margin-right: 10px;
}

#gainSlider input[type=range]::-webkit-slider-thumb{
  background: #ffd54f;
}

.bandLabel{
color: #ffffff;
}

.slider {
width: 30px;
height: 122px;
background-color: #819ca9;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding-top: 2px;
padding-bottom: 2px;
padding-right: 1px;
margin-left: 1px;
margin-right: 2px;
border-radius: 4px;
}

input[type=range] {
transform: rotate(-90deg) translate(-40px, 0px);
-webkit-appearance: none;
margin: 10px 10px;
width: 100px;
height: 5px;
background: transparent;
}

input[type=range]:focus {
outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
width: 100%;
height: 6px;
cursor: pointer;
background: #546e7a;
border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.32);
border: none;
height: 16px;
width: 16px;
border-radius: 8px;
background: #f06292;
cursor: pointer;
-webkit-appearance: none;
margin-top: -5px;
}

.EqContainer{
display: grid;
padding: 5px;
background-color: #607d8b;
border-radius: 5px;
}

.settingsContainer{
margin: 5px;
display: flex;
flex-direction: row;
justify-content: space-between;
color: #ecf0f1;
padding: 5px;
background-color: #607d8b;
border-radius: 5px;
}

.resetBtn{
  color: #fff !important;
  background: #434343;
  padding: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  border-radius: 3px;
}

.resetBtn:hover {
  background: #232323;
  letter-spacing: 1px;
  transition: all 0.4s ease 0s;
  }